<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.darksite.tp1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="XYZ Agricole"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Question2" />
        <activity android:name=".Question3" />
        <activity android:name=".Question4" />
        <activity android:name=".Question5" />
        <activity android:name=".Resume" />
        <activity android:name=".Question1" />
        <activity android:name=".Base"></activity>
    </application>

</manifest>